<table>
  <tbody>

    <tr>
      <th>Project</th>
      <td>
        <input type="text" id="project" 
                           value="<%= settings['project'] %>" 
                           name="settings[project]" >
      </td>
    </tr>
    
    <tr>
      <th>Calibre library</th>
      <td>
        <input type="text" id="calibre_library" 
                           value="<%= settings['calibre_library'] %>" 
                           name="settings[calibre_library]" >
      </td>
    </tr>

    <tr>
      <th>Protocol</th>
      <td>
          <p>
            <label><%= "http"  %></label>
              <%= radio_button_tag 'settings[calibre_web_protocol]', "http", (settings["calibre_web_protocol"] == "http" ) %>
          </p>
          <p>
            <label><%= "https"  %></label>
              <%= radio_button_tag 'settings[calibre_web_protocol]', "https", (settings["calibre_web_protocol"] == "https" ) %>
          </p>
      </td>





    </tr>

    <tr>
      <th>Calibre Web hostname</th>
      <td>
        <input type="text" id="calibre_web_hostname" 
                           value="<%= settings['calibre_web_hostname'] %>" 
                           name="settings[calibre_web_hostname]" >
      </td>
    </tr>

    <tr>
      <th>Calibre Web port</th>
      <td>
        <input type="text" id="calibre_web_port" 
                           value="<%= settings['calibre_web_port'] %>" 
                           name="settings[calibre_web_port]" >
      </td>
    </tr>

    <tr>
      <th>Extensions</th>
      <td>
          <p>
            <% ext=".pdf" %>
            <label><%= ext  %></label>
              <%= check_box_tag 'settings[extensions][]', ext, (settings["extensions"].include? ext ) %>
          </p>
          <p>
            <% ext=".epub" %>
            <label><%= ext  %></label>
              <%= check_box_tag 'settings[extensions][]', ext, (settings["extensions"].include? ext ) %>
          </p>
          <p>
            <% ext=".azw3" %>
            <label><%= ext  %></label>
              <%= check_box_tag 'settings[extensions][]', ext, (settings["extensions"].include? ext ) %>
          </p>


      </td>
      
    </tr>


  </tbody>
</table>